body {
  background-color: #333; 
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4 {
  color: #b9f1b0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
  color: #ffffff;
}

.header {
  padding: 20px 0 10px;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
  border-bottom: 1px dashed #999;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #7bd200;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 20px;
}

.nav-item {
  margin-left: 20px;
}

.nav-item:first-child {
  margin-left: 0px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color: #95ff01;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  border-top: 1px dashed #999;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
}

@media (min-width: 768px) {
  body {
      margin-left: 50px;
      margin-right: 50px;
  }
}

@media (max-width: 767px) {
  body {
      margin-left: 10px;
      margin-right: 10px;
  }
}

.taxonomy {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 10px;
}

.taxonomy-item {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .taxonomy {
      justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .taxonomy-item {
      margin-right: 5px;
      margin-bottom: 10px;  
  }
}

div.article {
  color: #ffffff
}
div.article h1 {
  text-decoration: none;
  color: #7bd200;
}

div.article h2 {
  text-decoration: underline;
}

div.article h3 {
  text-decoration: none;
}

div.article h3, div.article h2 {
  color: #b9f1b0;
}

div.article .highlight {
  background-color: #272822;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.aboutme {
  text-align: justify;
}

.aboutme h4,.aboutme h3,.aboutme h2,.aboutme h1 {
  color: #b9f1b0
}

.article p {
  text-align: justify;
}

.article .date {
  text-align: right;
  text-decoration: underline;
  font-weight: 400;
}

.bookmarks ul {
  list-style-type: "📌 ";
}

.bookmarks h4,.bookmarks h3,.bookmarks h2,.bookmarks h1 {
  color: #b9f1b0
}

.summary {
  text-align: justify;
  padding-left: 1rem;
  border-left-style: dashed;
  border-color: #525252;
  font-size: small;
}

.highlight {
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  .highlight {
      font-size: 14px; 
  }
}

@media screen and (max-width: 576px) {
  .highlight {
      font-size: 12px; 
  }
}

.card {
  background-color: #373737;
  padding: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #373737;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #3c3b3b;
  border-color: #3c3b3b;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card h2 a {
  font-size: medium;
  color: #b9f1b0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}